
@media (max-width: 768px ){
header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cdb4dbbf;
    width: 100%;
    margin: 0%;
    position: relative;
}

.home-page, .join-us {
    display: block;
}
.heropic {
    display: block;
    width: 100%;
    object-fit: cover; 
    position: relative;
   
}

section {
    width: 100%;
    display: block;
    position: relative;
    padding: 20px;;
    align-items: center;
    margin: 10px auto; /* Adjust margin as needed */
        text-align: center; /* Center content within sections */
}


#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    right: 20px;
    top: 10px;
}


nav a {
    flex: 1 1 100%;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
#book-review{
    display:grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); grid-gap: 25px;place-items: center;
        place-items: center;
        justify-content: center; /* Center the grid items horizontally */
        width: 100%; /* Ensure the container takes full width */
        margin: 0 auto; 
}

}
